<ion-item lines="none">
    <ion-thumbnail slot="start"> <!--if ternario-->
      <img [src]="restaurant?.cover ? restaurant.cover : 'assets/imgs/img1.jpeg'"/>
   </ion-thumbnail>
  <ion-label>
    <h4>{{restaurant?.name}}</h4>
    <ion-text color="medium">
  <p class="pStyle">{{getCuisine(restaurant?.cuisines)}}</p>
  <span><ion-icon name="star"></ion-icon>{{restaurant?.rating}}</span>
  {{restaurant?.delivery_time}} mins,
  {{restaurant?.price}} para 2 pessoas
  <ion-text>
  <p class="distance"> {{restaurant?.distance}} km de distância </p>
  </ion-text>
  </ion-text>
  </ion-label>
  </ion-item>